.error_container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.error_big{
    font-family: 'Brush Script MT';
    color: #ff0055;
    font-weight: bolder;
    font-size: 300px;
    text-shadow: 2px 2px 5px #ff0000;
}
.error_small{
    font-family: 'Brush Script MT';
    color: indianred;
    font-size: 55px;
    margin-top: 5vh;
    letter-spacing: 10px;
    text-shadow: 2px 2px 5px #755050;
    text-align: center;
}