div.container_loading {
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container_loading div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
	background-color: #edb942;
}

.red {
	background-color:#e35f92;
    -moz-animation: fadein 3s ease-in 7s forwards; /* Firefox */
    -webkit-animation: fadein 3s ease-in 7s forwards; /* Safari and Chrome */
    -o-animation: fadein 3s ease-in 7s forwards; /* Opera */
    animation: fadein 3s ease-in 7s forwards;
    -moz-animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
    -o-animation-delay: 0.15s;
	animation-delay: 0.10s !important;
}

@keyframes bounce {
	100% {
		transform: scale(1.5);
	}
	0% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(1);
	}
}